@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}

.mesh {
  background-color: #ADD8E6;
  background-image: radial-gradient(at 50% 80%, rgb(59, 62, 63), transparent 50%),
    radial-gradient(at 30% 30%, rgb(14, 21, 122), transparent 50%),
    radial-gradient(at 70% 70%, rgb(14, 21, 122), transparent 50%);
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

.ant-btn-primary,
.ant-input-search-button {
  background-color: #1677ff;
}