@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}

.mesh {
  background-color: #add8e6;
  background-image: radial-gradient(at 50% 80%, rgb(59, 62, 63), transparent 50%),
    radial-gradient(at 30% 30%, rgb(14, 21, 122), transparent 50%),
    radial-gradient(at 70% 70%, rgb(14, 21, 122), transparent 50%);
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

.ant-btn-primary,
.ant-input-search-button {
  background-color: #1677ff;
}
.ant-modal-content {
  border-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @media (max-height: 639px) and (max-width: 639px) {
    padding: 0.625rem !important;
  }
}

/* global scrollbar styling */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px grey;
  border-radius: 10px;
}
